{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Le Bookstore - {% block title %}The Best Online Bookstore in SUTD{% endblock %} </title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
			    <div class="navbar-header">
			    	<a class="navbar-brand" href="/bookstore/">
		      		  Le Bookstore
		     		</a>
			    </div>
			    <form class="navbar-form navbar-left" role="form" action="/bookstore/search_results" method="post">
			    {% csrf_token %}
					<div class="input-group">
					  	<div class="input-group-btn">
					        <select class="form-control" name="query_type">
							  <option>Book</option>
							  <option>Author</option>
							  <option>Publisher</option>
							  <option>ISBN</option>
							  <option>Subject</option>
							</select>
					    </div><!-- /btn-group -->
				  		<input type="text" id="searchbar" class="form-control" placeholder="J.K Rowling, The Da Vinci Code..." name="query">
					    <span class="input-group-btn">
					        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					    </span>
					</div>
				</form>
				<a type="button" class="btn btn-warning navbar-btn" href="/bookstore/advanced_search"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Advanced Search </a>	
				<div class="navbar-right">
				<!-- to be replaced by template -->
				{% if request.user.is_authenticated %}										
					<a type="button" class="btn btn-default navbar-btn cart-btn" href="/bookstore/mycart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> My Cart </a>	
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="/bookstore/user/{{user.username}}">View Profile</a></li>
				            <li><a href="/bookstore/myorders">Order History</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="/bookstore/logout">Logout</a></li>
				          </ul>
				        </li>
					</ul>
				{% else %}
					<a type="button" class="btn btn-success navbar-btn" href="/bookstore/register">Sign Up</a>
					<a type="button" class="btn btn-default navbar-btn" href="/bookstore/login">Log In</a>
				{% endif %}
				<!-- end of template -->
				</div>
			</div>
		</nav>
		<!--Main content of the body comes HERE-->
		{% block body_block %}{% endblock %}

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	</div><!-- Container -->
</body>
</html>