<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Database Bookstore</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
			    <div class="navbar-header">
			    	<a class="navbar-brand" href="/bookstore/">
		      		  Le Bookstore
		     		</a>
			    </div>
			    <form class="navbar-form navbar-left">
				  <div class="input-group">
			  		<input type="text" class="form-control" placeholder="J.K Rowling, The Da Vinci Code...">
				    <span class="input-group-btn">
				        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				    </span>
				  </div>
				</form>
				<div class="navbar-right">
				<!-- to be replaced by template -->
				{% if user.is_authenticated %}
					Logged in as {{ user.username }} 
					<a type="button" class="btn btn-default navbar-btn" href="/bookstore/logout">Log Out</a>
				{% else %}
					<a type="button" class="btn btn-success navbar-btn" href="/bookstore/register">Sign Up</a>
					<a type="button" class="btn btn-default navbar-btn" href="/bookstore/login">Log In</a>
				{% endif %}
				<!-- end of template -->
				</div>
			</div>
		</nav>
		<br>
		<br>
		<br>
		
		<div class="row">
			<div class = "col-md-4">
				<img src="http://placehold.it/250x400" alt={{book.title}} class="img-thumbnail">
			</div>
			<div class = "col-md-6">
				<h1 class="text-primary">{{book.title}}</h1>
				<h3>{{book.author}}</h3>
				<p>{{book.desc}}</p>
				<hr>
				<h5>{{book.publisher}}</h5>
				<h5><strong>{{book.isbn}}</strong></h5>
			</div>
			<div class = "col-md-2">
				<h1>${{book.price}}</h1>
				<h5>Average Rating:</h5>
				<div>
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				</div>
				<hr>
				<h5>Select Quantity:</h5>
				<select class="form-control">
				  <option>1</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
				<button class="btn btn-primary">Add to Cart</button>
			</div>
		</div>
		<br>
		{% if user_comment %}
		<div class="well">
		<p>My comment</p>
		<hr>
				<div class="row">
					<div class="col-md-12">
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
						{{user_comment.customer.login_name}}
						<span class="pull-right">{{user_comment.score}}
							<button type="button" class="btn btn-default btn-circle btn-sm">+0</button>
							<button type="button" class="btn btn-warning btn-circle btn-sm">+1</button>
							<button type="button" class="btn btn-danger btn-circle btn-sm">+2</button>
						</span>

						<p>{{user_comment.txt}}</p>
					</div>
				</div> <!--row-->
				<!-- end of one user comment -->
		</div>
		{% endif %}
		<div class="well">

				<div class="row">
					<div class="col-lg-1">
						<select class="form-control">
							<option>5</option>
							<option>10</option>
							<option>15</option>
							<option>20</option>
							<option>All</option>
						</select>
					</div>
				</div>
				{% for comment in comments %}
				<!-- one user comment -->
				<hr>
				<div class="row">
					<div class="col-md-12">
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
						{{comment.customer.login_name}}
						<span class="pull-right">{{comment.score}}
							<button type="button" class="btn btn-default btn-circle btn-sm">+0</button>
							<button type="button" class="btn btn-warning btn-circle btn-sm">+1</button>
							<button type="button" class="btn btn-danger btn-circle btn-sm">+2</button>
						</span>

						<p>{{comment.txt}}</p>
					</div>
				</div> <!--row-->
				<!-- end of one user comment -->
				{% endfor %}

				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Leave a comment</button>

						  <!-- Modal -->
						  <div class="modal fade" id="myModal" role="dialog">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title">Leave a comment:</h4>
						        </div>
						        <div class="modal-body">
								<form role="form" action="/bookstore/{{book.isbn}}/add_comment"method="post">
									{% csrf_token %}
								    <div class="form-group">
								      <!--<label for="comment">Comment:</label>-->								
								      <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
									  <div class="modal-footer">
								      <input type="submit" class="btn btn-primary" value="Post Comment">
								      </div>
								    </div>
								</form>
						        </div>
						      </div>
						    </div>
						  </div>
						  <!--end of modal-->
					</div>
				</div>

			</div><!--well-->
	</div><!--container-->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>
