{% extends 'bookstore/base.html' %}

{% block title %}{{book.title}}{% endblock %}

{% block body_block %}
    <!-- Your Main Body Content Goes Here -->
	<div class="row">
		<div class = "col-md-4">
			<img src="/bookstore{{MEDIA_URL}}{{book.isbn}}.jpg/" alt={{book.title}} class="img-thumbnail">
		</div>
		<div class = "col-md-6">
			<h1 class="text-primary">{{book.title}}</h1>
			<h3>{{book.author}}</h3>
			<p>{{book.desc}}</p>
			<hr>
			<h5>{{book.publisher}}</h5>
			<h5><strong>{{book.isbn}}</strong></h5>
		</div>
		<div class="divider-vertical"></div>
		<div class = "col-md-2">
			<h1>${{book.price}}</h1>
			<h5>Average Rating:</h5>
			<div>
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			</div>
			<hr>
			{% if in_cart %}
			<a href="/bookstore/mycart" class="btn btn-success">Added to Cart</a>
			{% else %}
			<form class="form-horizontal" role="form" action="/bookstore/{{book.isbn}}/add_to_cart"method="post">
				{% csrf_token %}
				<div class="form-group row">
					<div class="col-md-6">
						
						<select class="form-control" name="qty" id="qty">
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						</select>
					</div>
					<div class="col-md-6">
						<button class="btn btn-primary" type="submit">Add to Cart</button>
					</div>
				</div>
			</form>
			{% endif %}
		</div>
	</div>
	{% if in_cart %}
	<hr>
	<h3>You may also like:</h3>
	<div class="list-group">
	{% for book in recommended %}
	  <a href="/bookstore/{{book.isbn}}" class="list-group-item">
	    <h4 class="list-group-item-heading">{{book.title}}</h4>
	    <p class="list-group-item-text">{{book.author}}</p>
	  </a>
	{% endfor %}
	</div>	
	<hr>
	{% endif %}
	<br>
	{% if user_comment %}
	<div class="well">
	<p>My comment</p>
	<hr>
			<div class="row">
				<div class="col-md-12">
					<span>{{user_comment.score}}</span>
					<a href="/bookstore/user/{{user_comment.customer.login_name}}/">{{user_comment.customer.login_name}}</a>
					<span class="pull-right">{{user_comment.usefulness}}
						<form action="/bookstore/{{book.isbn}}/{{user_comment.customer.login_name}}/rating" method="post">
								{% csrf_token %}
								<input type="submit" class="btn btn-default btn-circle btn-sm" value="+0" name="rating">
						</form>
						<form action="/bookstore/{{book.isbn}}/{{user_comment.customer.login_name}}/rating" method="post">
								{% csrf_token %}
								<input type="submit" class="btn btn-warning btn-circle btn-sm" value="+1" name="rating">
						</form>
						<form action="/bookstore/{{book.isbn}}/{{user_comment.customer.login_name}}/rating" method="post">
								{% csrf_token %}
								<input type="submit" class="btn btn-danger btn-circle btn-sm" value="+2" name="rating">
								<!--
							<button type="button" class="btn btn-default btn-circle btn-sm">+0</button>
							<button type="button" class="btn btn-warning btn-circle btn-sm">+1</button>
							<button type="button" class="btn btn-danger btn-circle btn-sm">+2</button>
							-->
						</form>
					</span>
					<p>{{user_comment.txt}}</p>
				</div>
			</div> <!--row-->
			<!-- end of one user comment -->
	</div>
	{% endif %}
	<div class="well">

			<div class="row">
				<div class="col-lg-3">
				<form action="/bookstore/{{book.isbn}}/usefulness" method="post">
				{% csrf_token %}
					<span>User feedbacks: {{count}}</span><br>
					<label for="select" value="">See Top Feedback amount: </label>
					<input type="text" pattern="[0-9]{1,2,3}" name="select" placeholder="3">
					<input type="submit" value="Select">
				</form>
				</div>
			</div>
			{% for comment in comments %}

			<!-- one user comment -->
			<hr>
			<div class="row">
				<div class="col-md-12">
					<a href="/bookstore/user/{{comment.customer.login_name}}/"><h4>{{comment.customer.login_name}}</h4></a>
					<div>
						{% for i in range %}
						{% if i < comment.score %}
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						{% else %}
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
						{% endif %}
						{% endfor %}
					</div>
					<span class="pull-right">{{comment.usefulness}}
						<form action="/bookstore/{{book.isbn}}/{{comment.customer.login_name}}/rating" method="post">
								{% csrf_token %}
								<input type="submit" class="btn btn-default btn-circle btn-sm" value="+0" name="rating">
						</form>
						<form action="/bookstore/{{book.isbn}}/{{comment.customer.login_name}}/rating" method="post">
								{% csrf_token %}
								<input type="submit" class="btn btn-warning btn-circle btn-sm" value="+1" name="rating">
						</form>
						<form action="/bookstore/{{book.isbn}}/{{comment.customer.login_name}}/rating" method="post">
								{% csrf_token %}
								<input type="submit" class="btn btn-danger btn-circle btn-sm" value="+2" name="rating">
								<!--
							<button type="button" class="btn btn-default btn-circle btn-sm">+0</button>
							<button type="button" class="btn btn-warning btn-circle btn-sm">+1</button>
							<button type="button" class="btn btn-danger btn-circle btn-sm">+2</button>
							-->
						</form>
					</span>

					<p>{{comment.txt}}</p>
				</div>
			</div> <!--row-->
			<!-- end of one user comment -->
			{% endfor %}

			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Leave a comment</button>

					  <!-- Modal -->
					  <div class="modal fade" id="myModal" role="dialog">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Leave a comment:</h4>
					        </div>
					        <div class="modal-body">
							<form role="form" action="/bookstore/{{book.isbn}}/add_comment"method="post">
								{% csrf_token %}
							    <div class="form-group">
							      <!--<label for="comment">Comment:</label>-->								
							      <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
							      <label for="Rating">Rating:(0-10)</label>
  								  <input type="text" class="form-control" name="score" pattern="[0-9]|10">

								  <div class="modal-footer">
							      <input type="submit" class="btn btn-primary" value="Post Comment">
							      </div>
							    </div>
							</form>
					        </div>
					      </div>
					    </div>
					  </div>
					  <!--end of modal-->
				</div>
			</div>

		</div><!--well-->

{% endblock %}		
