{% extends 'bookstore/base.html' %}

{% block body_block %}
    <!-- Your Main Body Content Goes Here -->
	<div class="row">
	{% for book in booklist %}
	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	    	<br>
		    <img src="/bookstore{{MEDIA_URL}}{{book.isbn}}.jpg/" alt="..." style="height: 300px">
		    <div class="caption">
		        <a href="/bookstore/{{book.isbn}}"><h4>{{book.title|truncatechars:25}}</h4></a>
		        <p>{{book.desc|truncatechars:190}}</p>
		        <p><a href="#" class="btn btn-primary" role="button"><strong>$ {{book.price}}</strong></a> 
		        	<a href="/bookstore/{{book.isbn}}" class="btn btn-default" role="button">More Info</a></p>
		    </div>
	    </div>
	  </div>
	{% endfor %}
	</div>

	<nav class="text-center">
	  <ul class="pagination">
		{% if booklist.has_previous %}
	    <li>
	      <a href="?page={{ booklist.previous_page_number }}" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    {% else %}
	    <li class="disabled">
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    {% endif %}
	    {% for pagenum in pagerange %}
	 		{% if pagenum == booklist.number %}
				<li class="active"><a href="?page={{ pagenum }}">{{pagenum}}</a></li>
			{% else %}
	 			<li><a href="?page={{ pagenum }}">{{pagenum}}</a></li>
	 		{% endif %}
	    {% endfor %}
	    {% if booklist.has_next %}
	    <li>
	      <a href="?page={{ booklist.next_page_number }}" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	    {% else %}
	    <li class="disabled">
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	    {% endif %}
	  </ul>
	</nav>
{% endblock %}
