{% extends 'bookstore/base.html' %}

{% block title %}My Orders{% endblock %}

{% block body_block %}
    <h2>My Order History</h2>
    <hr>
    <table class="table table-hover">
		<thead>
			<tr class="active">
				<th>Order ID</th>
				<th>Book</th>
				<th>Quantity</th>
				<th>Timestamp</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
			<tr>
				<td>{{order.oid.pk}}</td>
				<td>{{order.book.title}}</td>
				<td>{{order.qty}}</td>
				<td>{{order.oid.timestmp}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}