{% extends 'bookstore/base.html' %}

{% block title %}<!-- Title goes Here -->{% endblock %}

{% block body_block %}
    <!-- Your Main Body Content Goes Here -->
	<div id="post-login" class="center-block">
		{% if user %}
			{% if validuser %}
				<h2 class="text-primary">Welcome <strong>{{ query }}</strong>!</h2>
			    <!--<p >Found {{ validuser|length }} Usermatch{{ Usermatches|pluralize }}.</p>-->
			{% else %}
				<h2 class="text-danger">Password Incorrect. Try again! </h2>
			{% endif %}
		{% else %}
		    <p>No user matched your username input. Please register an account! </p>
		{% endif %}

		<div class="row">
			<a type="button" class="btn btn-primary navbar-btn" href="/bookstore/user/{{query}}/">View your Profile</a>
			<a type="button" class="btn btn-default navbar-btn" href="/bookstore/">Continue Shopping</a>
		</div>
	</div>
{% endblock %}