<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Database Bookstore</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<!--The Navigation Bar-->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
			    <div class="navbar-header">
			    	<a class="navbar-brand" href="/bookstore/">
		      		  Le Bookstore
		     		</a>
			    </div>
			    <form class="navbar-form navbar-left">
				  <div class="input-group">
			  		<input type="text" class="form-control" placeholder="J.K Rowling, The Da Vinci Code...">
				    <span class="input-group-btn">
				        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				    </span>
				  </div>
				</form>
				<div class="navbar-right">
					<a type="button" class="btn btn-success navbar-btn" href="/bookstore/register">Sign Up</a>
					<a type="button" class="btn btn-default navbar-btn" href="/bookstore/login">Log In</a>
				</div>
			</div>
		</nav>
		<br>
		<br>
		<br>
		<!--Main content of the body comes here-->
		{% if user %}
			{% if validuser %}
				<h2 class="text-primary">Welcome <strong>{{ query }}</strong>!</h2>
			    <!--<p >Found {{ validuser|length }} Usermatch{{ Usermatches|pluralize }}.</p>-->
			{% else %}
				<h2 class="text-danger">Password Incorrect. Try again! </h2>
			{% endif %}
		{% else %}
		    <p>No user matched your username input. Please register an account! </p>
		{% endif %}

		<div class="row">
			<a type="button" class="btn btn-primary navbar-btn" href="/bookstore/profile">View your Profile</a>
			<a type="button" class="btn btn-default navbar-btn" href="/bookstore/">Continue Shopping</a>
		</div>
		
</body>
</html>