{% extends 'bookstore/base.html' %}

{% block title %}Your Profile{% endblock %}

{% block body_block %}
    <!-- Your Main Body Content Goes Here -->
	<div class="row">
		<div class="col-md-2">
			<img src="http://funnne.com/w-img/user.jpg" class="img-circle img-responsive">
		</div>
		
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-8">
					<h3 class="text-primary">General Details</h3>
					<hr>
					<h4><strong>Username: </strong>{{profile.login_name}}</h4>
					<h4><strong>First Name: </strong>{{profile.given_name}}</h4>
					<h4><strong>Last Name: </strong>{{profile.surname}}</h4>
					<h4><strong>Address: </strong>{{profile.address}}</h4>
					<h4><strong>Phone Number: </strong>{{profile.phoneno}}</h4>
				</div>
				{% ifequal user.username profile.login_name %}
				<div class="col-md-4">
					<h3 class="text-primary">Personal Details</h3>
					<hr>
					<h4><strong>Password: </strong>{{profile.pwd}}</h4>
					<h4><strong>Credit Card No.: </strong>{{profile.credit_card}}</h4>					
				</div>		
				{% endifequal %}
			</div>
			<div class="row">
				<h3 class="text-primary">Comments and Scores</h3>
				<hr>
				<table class="table table-hover">
					<thead>
						<tr class="active">
							<th>Book</th>
							<th>Comment</th>
							<th>Score</th>
						</tr>
					</thead>
					<tbody>
						{% for comment in feedbacks %}
						<tr>
							<td>{{comment.book.title}}</td>
							<td>{{comment.txt}}</td>
							<td>{{comment.score}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="row">
				<h3 class="text-primary">Order History</h3>
				<hr>
				<table class="table table-hover">
					<thead>
						<tr class="active">
							<th>Order ID</th>
							<th>Book</th>
							<th>Quantity</th>
							<th>Timestamp</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
						<tr>
							<td>{{order.oid.pk}}</td>
							<td>{{order.book.title}}</td>
							<td>{{order.qty}}</td>
							<td>{{order.oid.timestmp}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

