<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Database Bookstore</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
			    <div class="navbar-header">
			    	<a class="navbar-brand" href="/bookstore/">
		      		  Le Bookstore
		     		</a>
			    </div>
			    <form class="navbar-form navbar-left">
				  <div class="input-group">
			  		<input type="text" class="form-control" placeholder="J.K Rowling, The Da Vinci Code...">
				    <span class="input-group-btn">
				        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				    </span>
				  </div>
				</form>
				<div class="navbar-right">
				<!-- to be replaced by template -->
				{% if user.is_authenticated %}
					Logged in as {{ user.username }} 
					<a type="button" class="btn btn-default navbar-btn" href="/bookstore/logout">Log Out</a>
				{% else %}
					<a type="button" class="btn btn-success navbar-btn" href="/bookstore/register">Sign Up</a>
					<a type="button" class="btn btn-default navbar-btn" href="/bookstore/login">Log In</a>
				{% endif %}
				<!-- end of template -->
				</div>
			</div>
		</nav>
		<br>
		<br>
		<br>
<!--Main content of the body comes here-->
		<h1>PROFILE PAGE</h1>
		<h2>{{profile.login_name}}</h2>
		<h3>{{profile.address}}</h3>
		<ul>
			{% for order in orders %}
			<li>{{order.oid}}</li>
			{% endfor %}
		</ul>
		<ul>
			{% for comment in feedbacks %}
			<li>{{comment.txt}}</li>
			{% endfor %}
		</ul>

</body>
</html>