{% extends 'bookstore/base.html' %}

{% block title %}Your Profile{% endblock %}

{% block body_block %}
    <!-- Your Main Body Content Goes Here -->
	<div class="row">
		<div class="col-md-2"><img src="http://funnne.com/w-img/user.jpg" class="img-circle"></div>
		
	</div>
	<h1>PROFILE PAGE</h1>
	<h2>{{profile.login_name}}</h2>
	<h3>{{profile.address}}</h3>
	<ul>
		{% for order in orders %}
		<li>{{order.oid}}</li>
		{% endfor %}
	</ul>
	<ul>
		{% for comment in feedbacks %}
		<li>{{comment.txt}}</li>
		{% endfor %}
	</ul>
{% endblock %}

