<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Statistics</title>
    <style>
        table, td, th {
            border-style: solid;
            border-width: 1px;
            border-collapse: collapse;
        }
        td, th {
            padding: 5px;
        }
    </style>
</head>
<body>
    {% if not month %}
        <p>You have inputted an invalid month.</p>
    {% elif pop_books %}
        <h1>Statistics for {{ month }} {{ year }}</h1>
        <h2>Top {{ m }} Popular Books</h2>
        <table>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Count</th>
            </tr>
            {% for b in pop_books %}
            <tr>
                <td>{{ b.0.isbn }}</td>
                <td>{{ b.0.title }}</td>
                <td>{{ b.1 }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Top {{ m }} Popular Authors</h2>
        <table>
            <tr>
                <th>Authors</th>
                <th>Count</th>
            </tr>
            {% for b in pop_authors %}
            <tr>
                <td>{{ b.0 }}</td>
                <td>{{ b.1 }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Top {{ m }} Popular Publishers</h2>
        <table>
            <tr>
                <th>Authors</th>
                <th>Count</th>
            </tr>
            {% for b in pop_publishers %}
            <tr>
                <td>{{ b.0 }}</td>
                <td>{{ b.1 }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There were no book sales in {{ month }} {{ year }}.</p>
    {% endif %}
    <a href="/bookstore/stats"><p>Back to Statistics Index</p></a>
</body>
</html>