<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Statistics</title>
</head>
<body>
    <h1>Top 10 Most Popular Books This Month</h1>
    <table>
        <tr>
            <th>Book</th>
            <th>Count</th>
        </tr>
        {% for b in pop_books %}
        <tr>
            <td>{{ b.0 }}</td>
            <td>{{ b.1 }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Top 10 Most Popular Authors This Month</h1>
    <table>
        <tr>
            <th>Authors</th>
            <th>Count</th>
        </tr>
        {% for b in pop_authors %}
        <tr>
            <td>{{ b.0 }}</td>
            <td>{{ b.1 }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Top 10 Most Popular Publishers This Month</h1>
    <table>
        <tr>
            <th>Authors</th>
            <th>Count</th>
        </tr>
        {% for b in pop_publishers %}
        <tr>
            <td>{{ b.0 }}</td>
            <td>{{ b.1 }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>